@import url(https://fonts.googleapis.com/css?family=Lora:400,700);

*{
    margin: 0 auto;
	padding: 0;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-webkit-appearance: none;
	border-radius: 0;
	text-decoration: none;
	list-style-type: none;
}

html{
    position: relative;
}

body{
    // background: rgba(13, 20, 29, 1);
    // background: #111;
}

nav{
    position: absolute;
    top: 1rem;
    left: calc(50% - 1.25rem);
    z-index: 4;

    a{
        display: inline-block;
        height: 2.5rem;
        width: 2.5rem;
        position: relative;

        img{
            width: 100%;
            height: 100%;
            display: none;
        }

    }
}
#bg {
  background-color: #f8f8f8;
  //background-color: #fff;
  background: #111;
  display: block;
  width: 30vw;
  height: 25vw;
  margin: auto;
  border-radius: 100%;
  position: fixed;
  left: 50%;
  top: -1rem;
  z-index: 5;
  mix-blend-mode: exclusion;

  transform: translateX(-50%) translateY(-50%) scale(0);
}

header{
    height: 70vh;
    width: 100vw;

    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    .header-wrapper{
        // text-align: left;
        padding: 1rem 1.5rem;

        img{
            display: none;
            width: 2.5rem;
            height: auto;
            margin-bottom: 1rem;
        }

        h1{
            font-family: "Playfair Display", serif;
            font-weight: 500;
            font-size: 52px;
            font-weight: normal;
            margin-bottom: 0.5rem;
            //color: #fff;
        }

        p{
            font-family: -apple-system, Helvetica, Arial, sans-serif;
            font-size: 14px;
            text-transform: uppercase;
            letter-spacing: 0.5ex;
            color: #888;
            //color: #ddd;
        }
    }
}

section.work {
    display: block;
    z-index: 8;
    position: relative;

    margin-bottom: 2rem;
    overflow: auto;

    .work-wrapper {
        max-width: 1000px;
        overflow: visible;

        article {
            float: left;
            width: 100%;
            padding: 0.5rem;
            box-sizing: border-box;
            overflow: visible;
            position: relative;

            .wrapper{
                display: block;
                height: 100%;
                width: 100%;
                // box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0);
                box-sizing: border-box;
                border-radius: 0.15rem;

                &:hover{
                }
            }
        }

        #orbit{
            width: 100%;
            height: 30rem;

            .wrapper {
                background: rgba(13, 20, 29, 1);
                background-image: url(../img/work/orbit.png);
                background-size: cover;
                background-position: center;
            }
        }

        #dialekte{
            width: 70%;
            height: 30rem;

            .wrapper {
                background: #e74c3c;
                background-image: url(../img/work/sd.png);
                background-size: cover;
                background-position: center;
            }
        }

        #flames{
            width: 30%;
            height: 30rem;

            .wrapper {
                background: #111;
                background-image: url(../img/work/flames.png);
                background-size: cover;
                background-position: center;
            }
        }

        #whereismyweekend{
            width: 100%;
            height: 30rem;

            .wrapper {
                background: #111;
                background-image: url(../img/work/whereismyweekend.png);
                background-size: cover;
                background-position: center;
            }
        }
    }
}

.instagram{
    height: 100vh;
    width: 100vw;
}
